#wrapper { 
    margin: auto; 
    width: 80%; 
    color: rgb(138, 43, 226);
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    padding: 10px;
    background-color: rgb(247, 247, 247);
    border: 2px solid rgb(138, 43, 226); 
} 

#container { 
    height: 250px; 
    text-align: center; 
}  

#extraDetails { 
    margin-top: 10px; 
    margin-left: 20%; 
    width: 50%; 
} 

.block { 
    display: inline-block; 
    vertical-align: top; 
    padding: 10px; 
} 

button { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer; 
    background-color: white; 
    margin-top: 5px; 
} 

button:disabled { 
    background-color: rgb(221, 221, 221); 
    color: white; 
}   

h1, h4, h2 { 
    text-align: center; 
} 

input { 
    float: right; 
    margin-left: 5px; 
}   

ul { 
    display: inline; 
}  

ul li { 
    list-style-type: none; 
}   

.buttonMargined { 
    margin-left: 140px; 
} 

.inputLabel { 
    text-align: right; 
}   

.preview { 
    display: inline-block; 
    height: 150px; 
    width: 70%; 
}  

.custom-select { 
    display: block; 
    margin: 0 auto; 
}  

input, button, .preview, .custom-select, p { 
    padding: 5px 15px;
    border: 1px solid rgb(138, 43, 226); 
    font-size: inherit;
    color: rgb(138, 43, 226); 
}